In [1]:
import numpy as np
import pandas as pd

#### Step 1: Load the datasets

In [2]:
#load the data
# we will use the preprocessed data from now on: 
df_train_preprocessed= pd.read_csv('/Users/smirghor/Library/Mobile Documents/com~apple~CloudDocs/Personal/Machine Learning Projects/data.nosync/amazon_review_polarity_csv/preprocessed_reviews_train.csv')
df_test_preprocessed = pd.read_csv('/Users/smirghor/Library/Mobile Documents/com~apple~CloudDocs/Personal/Machine Learning Projects/data.nosync/amazon_review_polarity_csv/preprocessed_reviews_test.csv')

In [3]:
df_train_preprocessed.head()

,polarity,title,text
0,2,The best soundtrack ever to anything.,"['im', 'reading', 'lot', 'review', 'saying', '..."
1,2,Amazing!,"['soundtrack', 'favorite', 'music', 'time', 'h..."
2,2,Excellent Soundtrack,"['truly', 'like', 'soundtrack', 'enjoy', 'vide..."
3,2,"Remember, Pull Your Jaw Off The Floor After He...","['youve', 'played', 'game', 'know', 'divine', ..."
4,2,an absolute masterpiece,"['quite', 'sure', 'actually', 'taking', 'time'..."

In [4]:
df_test_preprocessed.head()

,polarity,title,text
0,2,One of the best game music soundtracks - for a...,"['despite', 'fact', 'played', 'small', 'portio..."
1,1,Batteries died within a year ...,"['bought', 'charger', 'jul', '2003', 'worked',..."
2,2,"works fine, but Maha Energy is better","['check', 'maha', 'energy', 'website', 'powere..."
3,2,Great for the non-audiophile,"['reviewed', 'quite', 'bit', 'combo', 'player'..."
4,1,DVD Player crapped out after one year,"['also', 'began', 'incorrect', 'disc', 'proble..."

#### Step 2: Convert text to numerical features. 
Options are: Bag of word (BoW), Term Frequency-Inverse Document Frequency (TF-IDF), and Word Embeddings (Optional for Deep Learning)

In [5]:
#Start with the simplest model, Bag of Words
from sklearn.feature_extraction.text import CountVectorizer